[
  {
    "DiskConfig": 2040,
    "DiskPerf": 6400,
    "LunConfig": 0,
    "LunPerf": 0,
    "NFSClientsConfig": 0,
    "Poller": "cluster-01",
    "QtreeConfig": 1847,
    "QtreePerf": 0,
    "SVMConfig": 24,
    "SensorConfig": 2400,
    "SnapMirrorConfig": 0,
    "SnapshotConfig": 180,
    "StorageGridSG": 0,
    "VolumeAnalyticsConfig": 0,
    "VolumeConfig": 30492,
    "VolumePerf": 9242,
    "WorkloadDetailVolumePerf": 91296
  },
  {
    "DiskConfig": 240,
    "DiskPerf": 640,
    "LunConfig": 0,
    "LunPerf": 0,
    "NFSClientsConfig": 0,
    "Poller": "cluster-02",
    "QtreeConfig": 0,
    "QtreePerf": 0,
    "SVMConfig": 24,
    "SensorConfig": 0,
    "SnapMirrorConfig": 0,
    "SnapshotConfig": 0,
    "StorageGridSG": 0,
    "VolumeAnalyticsConfig": 1735,
    "VolumeConfig": 30492,
    "VolumePerf": 9242,
    "WorkloadDetailVolumePerf": 91296
  },
  {
    "DiskConfig": 23,
    "DiskPerf": 64,
    "LunConfig": 15,
    "LunPerf": 6,
    "NFSClientsConfig": 0,
    "Poller": "sar",
    "QtreeConfig": 935,
    "QtreePerf": 938,
    "SVMConfig": 87,
    "SensorConfig": 186,
    "SnapMirrorConfig": 684,
    "SnapshotConfig": 1703,
    "StorageGridSG": 0,
    "VolumeAnalyticsConfig": 4,
    "VolumeConfig": 940,
    "VolumePerf": 922,
    "WorkloadDetailVolumePerf": 0
  },
  {
    "DiskConfig": 48,
    "DiskPerf": 63,
    "LunConfig": 15,
    "LunPerf": 6,
    "NFSClientsConfig": 0,
    "Poller": "F2240-127-26",
    "QtreeConfig": 862,
    "QtreePerf": 17,
    "SVMConfig": 273,
    "SensorConfig": 0,
    "SnapMirrorConfig": 89,
    "SnapshotConfig": 0,
    "StorageGridSG": 0,
    "VolumeAnalyticsConfig": 0,
    "VolumeConfig": 918,
    "VolumePerf": 908,
    "WorkloadDetailVolumePerf": 0
  },
  {
    "DiskConfig": 24,
    "DiskPerf": 66,
    "LunConfig": 133,
    "LunPerf": 133,
    "NFSClientsConfig": 0,
    "Poller": "nikhita",
    "QtreeConfig": 0,
    "QtreePerf": 86,
    "SVMConfig": 12,
    "SensorConfig": 242,
    "SnapMirrorConfig": 1,
    "SnapshotConfig": 2433,
    "StorageGridSG": 0,
    "VolumeAnalyticsConfig": 0,
    "VolumeConfig": 90,
    "VolumePerf": 89,
    "WorkloadDetailVolumePerf": 73
  },
  {
    "DiskConfig": 792,
    "DiskPerf": 1144,
    "LunConfig": 0,
    "LunPerf": 0,
    "NFSClientsConfig": 0,
    "Poller": "nasclu01",
    "QtreeConfig": 325,
    "QtreePerf": 4228,
    "SVMConfig": 92,
    "SensorConfig": 1116,
    "SnapMirrorConfig": 283,
    "SnapshotConfig": 0,
    "StorageGridSG": 0,
    "VolumeAnalyticsConfig": 1,
    "VolumeConfig": 4028,
    "VolumePerf": 4020,
    "WorkloadDetailVolumePerf": 0
  }
]